/* STILIZOVANJE HEADER-A */
.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333;
    padding: 15px 20px;
}

.nav-left {
    flex: 1; 
    text-align: left; 
    margin: 0 10px;
}

.nav-right {
    flex: 1; 
    text-align: right; 
}

.nav-links {
    display: inline-flex; 
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-link {
    text-decoration: none; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: #f5c578; 
}

/* STILIZOVANJE TABELE */
.table-title {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-left: 270px;
}
.content-table {
    margin: 25px 270px;
    color: #333;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 850px;
    border-radius: 7px;
    border: 1px solid #333;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.content-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    border: 1px solid #333;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;  
    height: 40px; 
    border-radius: 50%; 
    background-color: rgb(255, 194, 79); 
    color: black;  
    cursor: pointer;  
    transition: background-color 0.3s;  
  }

  .icon-button:nth-child(1) {
    margin-right: 8px;
  }

  .icon-button:nth-child(2) {
    background-color: rgb(255, 70, 70);
  }
  
  .icon-button:hover {
    background-color: orange; 
  }

  .icon-button:hover:nth-child(2) {
    background-color: red; 
  }
  
/* STILIZOVANJE FORME ZA UNOS */
.form-container {
    margin: 100px 350px; 
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
    color: #333;
    font-size: 1em;
    font-weight: bold;
}

.form-container input,
.form-container select,
.form-container textarea,
.form-container button {
    display: block;
    width: calc(100% - 20px); 
    margin: 10px auto;
    padding: 12px 10px;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    outline: none;
    border-color: #333; 
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.5); 
}

.form-container button {
    background-color: #333; 
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #555; 
}