/* STILIZOVANJE HEADER-A */
.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333;
    padding: 15px 20px;
}

.nav-left {
    flex: 1; 
    text-align: left; 
    margin: 0 10px;
}

.nav-right {
    flex: 1; 
    text-align: right; 
}

.nav-links {
    display: inline-flex; 
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-link {
    text-decoration: none; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: #f5c578; 
}

/* STILIZOVANJE TABELE */
.table-category-filter {
    display: flex;
}

.header-with-slider {
    display: flex;
    align-items: center;
}

.slider-container {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #333;
    margin-left: 100px;
    margin-top: 35px;
}

#priceRange {
    position: absolute;
    top: 1px;
    right: -150px;
}

#money {
    position: absolute;
    top: 1px;
    right: -225px;
}

.table-title {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-left: 270px;
}

.content-table {
    margin: 25px 270px;
    color: #333;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 850px;
    border-radius: 7px;
    border: 1px solid #333;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.content-table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    position: relative;
    padding: 12px 15px;
    border: 1px solid #333;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;  
    height: 40px; 
    border-radius: 50%; 
    background-color: rgb(255, 194, 79); 
    color: black;  
    cursor: pointer;  
    transition: background-color 0.3s;  
}

.icon-button:nth-child(1) {
    margin-right: 8px;
}

.icon-button:nth-child(2) {
    background-color: rgb(255, 70, 70);
}

.icon-button:hover {
    background-color: orange; 
}

.icon-button:hover:nth-child(2) {
    background-color: red; 
}

.sort-arrow {
    position: absolute;
    right: 10px;   
    transform: translateY(-25%);
    font-size: 20px; 
    color: white; 
}

.table-hand {
    cursor: grab;
}

.category-filter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin-left: -200px;
    margin-top: 1px;
}

/* STILIZOVANJE MODALA */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    animation: slideDown 0.5s ease; 
    transform-origin: top; 
}

.modal-content {
    text-align: center;
}

.modal-content h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-bottom: 20px;
    color: #333;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-delete {
    background-color: rgb(255, 70, 70);
    color: white;
}

.btn-delete:hover {
    background-color: red;
}

.btn-cancel {
    background-color: #bdc3c7;
    color: #333;
}

.btn-cancel:hover {
    background-color: #95a5a6;
}

/* Padajuci efekat */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}
 
/* STILIZOVANJE FORME ZA UNOS */
.form-container {
    margin: 100px 350px; 
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
    color: #333;
    font-size: 1em;
    font-weight: bold;
}

.form-container input,
.form-container select,
.form-container textarea,
.form-container button {
    display: block;
    width: calc(100% - 20px); 
    margin: 10px auto;
    padding: 12px 10px;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    outline: none;
    border-color: #333; 
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.5); 
}

.form-container button {
    background-color: #333; 
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #555; 
}

/* STILIZOVANJE GRAF STRANICE */
.charts-container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.chart-container {
    flex-grow: 1; 
    margin-top: 50px;
    margin-left: 120px;
    padding: 20px; 
    width: 100%; 
    max-width: 540px; 
    background-color: #f9f9f9; 
    border: 1px solid #333; 
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    align-content: center;
}

.chart-container:nth-child(2) {
    margin-right: 120px;
}

.chart-container:nth-child(2) canvas {
    width: 100% !important;
    height: 517px !important; 
}

/* STILIZOVANJE HOME STRANICE */
.home-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 60px;
  }
  
  .home-image {
    width: 400px;
    height: auto;
  }
  
  .home-quote {
    font-size: 24px;
    color: #333;
    font-family: 'Verdana';
    font-style: italic;
    margin-top: 140px;
  }

  .home-author {
    display: block; 
    text-align: right; 
    margin-top: 60px;
    margin-right: 20px; 
  }
  